
@font-face {
  font-family: 'Graphik Regular';
  src: url('fonts/graphik_regular.woff2') format('woff2'), /* Super Modern Browsers */
}

body {
  font-family: 'Graphik Regular';
}
.lead {
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .jumbotron {
      padding: 2rem 2rem;
  }
}
