
@font-face {
  font-family: 'Graphik Regular';
  src: url("../fonts/graphikregular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/graphikregular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/graphikregular.otf") format("opentype"), /* Open Type Font */
    url("../fonts/graphikregular.svg") format("svg"), /* Legacy iOS */
    url("../fonts/graphikregular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/graphikregular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/graphikregular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}
@font-face {
  font-family: 'Sharp Grotesk';
  src: url("../fonts/sharp-grotesk.eot"); /* IE9 Compat Modes */
  src: url("../fonts/sharp-grotesk.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/sharp-grotesk.otf") format("opentype"), /* Open Type Font */
    url("../fonts/sharp-grotesk.svg") format("svg"), /* Legacy iOS */
    url("../fonts/sharp-grotesk.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/sharp-grotesk.woff") format("woff"), /* Modern Browsers */
    url("../fonts/sharp-grotesk.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}
body {
  font-family: 'Graphik Regular';
  background: #FFFFFF;
}
h1, h2, h3, h4, h5 {
  font-family: 'Sharp Grotesk';
}

.jumbotron {
  background: #ffffff;
}

.card img {
  margin-left: 20px;
}
.hero {
  max-width: 400px;
  font-family: 'Sharp Grotesk';
  font-size: 36px;
}
.lead {
  max-width: 400px;
  font-size: 16px;
  line-height: 26px;
  margin-top:30px;
}
.bg-light {
  background: #ffffff !important;
  border-bottom: 1px solid #F9F9FB;
}
.card {
  border: 0;
  background-color: #FFFFFF;
}
.card-text {
  color:#666666;
  font-size: 16px;
  line-height: 26px;
  margin-top:32px;
}
.btn-primary {
  font-size: 0.9em;
  border-radius:0;
  margin-left: -1px;
}
.centered {
  margin-left:auto;
  margin-right:auto;
}
#inputEmail1 {
  font-size: 0.9em;
  border-radius: 0;
}
#result, #result2 {
  font-weight:bold;
  color: rgba(3, 168, 124, 1);
}
.subtext {
  margin-top: 18px;
  font-size: 17.1px;
  color: #101010;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  line-height: 32px;
  letter-spacing: .22px;
}
@media (min-width: 576px) {
  .jumbotron {
      padding: 2rem 2rem;
  }
  h1 {
      color: #101010;
      font-size: 2.5rem;
      line-height: 3rem;
      letter-spacing: -2px;
  }
}

@media (max-width:575px) {
  .heroimg {
    margin-top:-100px;
  }
}

.no-pad {
  padding-right:0;
  padding-left:0;
}
hr{
  border-top: 1px solid #F9F9FB;
}
.loader {
  margin-left:auto;
  margin-right:auto;
}
.heroimg {
  width:100%;
  max-width:600px;
  float:right;
}

.highlight {
  background: rgba(255, 230, 0, 0.5);
  padding: 3px 5px;
  margin: -3px -5px;
  line-height: 1.7;
  border-radius: 5px;
  display:inline;
}
