/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "bdd23cd7747541dbaea1ce2d2aaced38";
  src: url("./fonts/graphikregular.eot"); /* IE9 Compat Modes */
  src: url("./fonts/graphikregular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/graphikregular.otf") format("opentype"), /* Open Type Font */
    url("./fonts/graphikregular.svg") format("svg"), /* Legacy iOS */
    url("./fonts/graphikregular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/graphikregular.woff") format("woff"), /* Modern Browsers */
    url("./fonts/graphikregular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}